<nav class="w-full px-10 py-5 bg-slate-900 text-slate-100 flex gap-10">
    <h2><a href="/">Home</a></h2>
    <h2><a href="/register">Register</a></h2>
    <h2><a href="/contacts">View Contacts</a></h2>
</nav>