<%- include('./partials/header')%>

<div class="w-[20%] bg-slate-300 p-10 m-auto mt-20 rounded-[60px]">
    <p class="mb-10">Are You sure You wnat to Delete This Contact</p>
    <a  class="p-2 bg-red-300 px-10 rounded-[20px]" href="/contact/<%=id%>/delete">Yes</a>
    <a class="p-2 bg-green-300 px-10 rounded-[20px]" href="/contacts">No</a>
</div>

<%- include('./partials/footer')%>