<%- include('./partials/header')%>

<p class="w-[50%] m-auto mt-20 p-10 bg-slate-300 text-slate-900 rounded-[60px]">
  Say goodbye to scattered contacts across various devices and platforms. With ContactHub, you can store all your contacts in one secure location accessible from anywhere, anytime.
  Our user-friendly interface makes it easy to add, edit, and organize contacts with just a few clicks. Say hello to a clutter-free contact list.
  Tailor your contact organization to suit your needs with customizable tags and categories. Whether it's clients, colleagues, friends, or family, you can categorize contacts for easy retrieval.
</p>

<%- include('./partials/footer')%>