<%- include('./partials/header')%>

<form class="w-[50%] p-10 mt-20 bg-slate-300 flex flex-col gap-10 m-auto rounded-[50px]" action="/register" method="post">
    <input class="w-full p-5 text-xl bg-white rounded-[20px]" type="text" name="firstName" placeholder="Enter First Name">
    <input class="w-full p-5 text-xl bg-white rounded-[20px]" type="text" name="lastName" placeholder="Enter Last Name">
    <input class="w-full p-5 text-xl bg-white rounded-[20px]" type="text" name="number" placeholder="Enter Contact Number">
    <button class="w-full p-5 text-xl bg-slate-900 text-slate-100 rounded-[20px]">Add Contact</button>
</form>

<%- include('./partials/footer')%>